.title {
  font-size: 90px;
  max-width: 550px;
  margin: 1rem;
  margin-bottom: 3rem;
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 40px;
}

.card {
  margin: 1rem;

  height: 450px;
  overflow: hidden;
}

.img {
  max-width: 28em;
}

.card > span {
  font-size: 2em;
  font-family: sans-serif;
  color: gray;
}

.card > p {
  font-family: sans-serif;
  color: gray;
}
